@using Microsoft.AspNetCore.Mvc.ViewFeatures



@{
    Layout = "~/Views/Shared/_LayoutLG.cshtml";
}

@model FacilitiesSensor.Models.Contraseña


@{

    ViewData["Title"] = "Login";
}



<div class="login-container">

    <!-- Imagen arriba del título -->
    <img src="~/images/tgicon.jpg" alt="Logo" class="login-image" />



    <h2>Login</h2>
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Username" class="small-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="small-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>

        <!-- Mensaje de error general -->
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="error-message">@ViewBag.ErrorMessage</div>
        }
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}